@media (max-width: 1535px) {
  .top {
    background-image: none;
    padding-left: 150px;

    &__info {
      padding-top: 80px;
      padding-bottom: 90px;
    }

    &__img {
      display: block;
      width: 450px;
    }

    &__img-890px {
      display: none;
    }

    &__title {
      font-size: 36px;
    }

    &__list-item {
      font-size: 16px;
      line-height: 24px;
    }

    &__btn-details {
      padding: 15px 45px;
    }

    &__btn-ask {
      padding: 15px 45px;
    }
  }
}

@media (max-width: 1217px) {
  .header {
    &__logo {
      display: none;
    }

    &__nav {
      margin-left: 0px;
    }

    &__info {
      justify-content: space-between;
    }

    &__inner {
      justify-content: space-evenly;
    }
  }
  .footer {
    &__logo {
      margin-right: 0px;
    }

    &__list-item {
      margin-right: 0px;
    }

    &__logo-img {
      width: 208px;
    }

    &__socials-item {
      width: 32px;
      height: 32px;
    }
  }
  .top {
    padding-left: 50px;

    &__img {
      width: 350px;
    }

    &__info {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }
  .news {
    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__item {
      grid-column: 2;
    }
    .questions {
      grid-column: 2;
    }
  }
  .about {
    &::after {
      display: none;
    }
    &__inner {
      display: block;
      text-align: center;
    }
    &__img {
      width: 500px;
      margin: 0 auto 25px;
    }
    &__title {
      display: none;
    }
    &__title--disabled {
      display: block;
      padding-bottom: 30px;
    }
    &__text {
      margin: 0 auto;
    }
  }
  .login {
    &--1217px {
      display: block;
    }
    &__text:nth-child(3) {
      padding-bottom: 30px;
    }
    &__title {
      font-size: 26px;
      line-height: 32px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
    &__membership {
      width: auto;
      margin-right: 0px;
      padding: 0px;
    }
    label {
      margin-top: 23px;
      margin-bottom: 23px;
    }
  }
  .login--membership {
    .login__inner {
      margin: 70px 180px;
      padding: 42px 15px;
    }
    .login__form-inputs {
      grid-template: none;
    }
  }

  .articles {
    .materials {
      &-slider__wrapper {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      }
    }
  }

  .slick-prev {
    top: 98.3%;
    left: 395px;
  }

  .slick-next {
    bottom: 0.3%;
    right: 395px;
  }

  .articlepage {
    &__inner {
      display: block;
    }
    &__content {
      margin-right: 0px;
    }
    &__title {
      font-size: 26px;
    }
    .img-container {
      text-align: center;
    }
    &__showmore-btn--disabled {
      display: none;
    }
    &__buy {
      justify-content: space-around;
    }
    &__buy-info {
      display: grid;
    }
    &__buy-btn {
    }
  }
  .aside {
    margin: 70px auto 0px auto;
  }
  .questions--aside {
    max-width: 400px;
    margin-bottom: 70px;
    margin-left: 0;
  }
  .questions--margintop {
    margin: 70px auto 0px auto;
    display: none;
  }
  .questions--1217px {
    height: auto;
    display: block;
    margin-bottom: 70px;
  }
  .questions--aside {
    height: auto;
  }
  .about-page {
    &__inner {
      max-width: 100%;
    }
    &__wrapper {
      display: block;
    }
  }
  .contacts {
    &__inner {
      display: block;
    }
    &__content {
      max-width: 100%;
    }
  }
  .membership {
    padding-bottom: 0;
    &__content {
      display: block;
    }
    &__title {
      text-align: center;
    }
    &__img {
      margin: 0 auto;
      display: block;
    }
  }
  .questions--center {
    margin: 0 auto 70px auto;
  }
}

@media (max-width: 1178px) {
  .materials {
    &-slider__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 986px) {
  .login--membership {
    .login__inner {
      margin: 70px 85px;
      padding: 42px 15px;
    }
  }
  .header {
    &__btn {
      font-size: 16px;
      padding: 10px 8px;
    }
  }
  .login-to-pa {
    &__wrapper::before {
      display: none;
    }
    &__wrapper::after {
      display: none;
    }
  }
  .create-account {
    &__wrapper::after {
      display: none;
    }
  }
}

@media (max-width: 890px) {
  .header {
    &__btn {
      display: none;
    }

    &-icon {
      margin-right: 0px;
    }

    &__info {
      display: none;
    }
    &__form-input {
      width: 100%;
    }
  }

  .footer {
    &__inner {
      display: block;
    }

    &__list {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__list:nth-child(2) {
      position: relative;
      &::after {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        background: url("../img/map-img.png") 50% 50% no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &__socials {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__socials-list {
      margin-right: 10px;
    }

    &__socials-youtube {
      padding-bottom: 0px;
    }

    &__socials-email {
    }
  }

  .top {
    &__content {
      display: block;
    }

    &__img {
      width: 80%;
    }
  }

  .articlepage {
    &__buy-title {
      font-size: 18px;
      line-height: 27px;
    }
    &__buy-btn {
      padding: 15px 52px;
      font-size: 14px;
      line-height: 20px;
    }
    &__ad-img {
      width: 100%;
    }
  }
  .materials {
    &-slider__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 786px) {
  .login--membership {
    .login__inner {
      margin: 70px 22px;
      padding: 42px 15px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__burger {
      display: block;
    }

    &__burger--disabled {
      display: none;
    }

    &__inner {
      justify-content: space-between;
    }

    &-icon__account {
      display: block;
    }

    &-icon__account--disabled {
      display: none;
    }

    &__nav {
      display: none;
    }

    &__logo {
      display: block;
      width: 215px;
    }
  }

  .footer {
    &__copyright {
      display: none;
    }

    &__bottom-inner {
      justify-content: center;
    }
  }

  .materials {
    &__slider-text {
      font-size: 14px;
    }
  }

  .articlepage {
    &__buy {
      display: none;
    }
    &__img {
      width: 100%;
    }
    &__buy--767px {
      display: flex;

      .articlepage__buy-btns {
        display: block;
      }
      .articlepage__buy-prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .articlepage__buy-prices {
        padding-right: 0px;
        margin-bottom: 30px;
      }
      .articlepage__buy-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .about-page {
    &__top-img {
      width: 500px;
      margin: 30px auto;
      display: block;
    }
    &__top-title {
      font-size: 22px;
      line-height: 30px;
    }
    &__top-text {
      font-size: 16px;
      line-height: 24px;
    }
    &__title {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .questions {
    &__title {
      font-size: 18px;
      line-height: 28px;
    }
    &__text {
      padding-top: 15px;
    }
  }
  .contacts {
    &__img {
      width: 100%;
    }
  }
}

@media (max-width: 734px) {
  .materials {
    &__viewall-text {
      display: none;
    }
    &__viewall {
      &::after {
        bottom: -12px;
      }
    }
  }
  .about-page {
    &__quote {
      padding-right: 30px;
    }
  }
}

@media (max-width: 686px) {
  .login--membership {
    .login__inner {
      margin: 70px 0px;
    }
  }
  .articlepage {
    &__recommendations {
      display: block;
    }
    &__recommendations-item:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 660px) {
  .login--membership {
    .login__form-btn {
      padding: 15px 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 628px) {
  .materials {
    &__title {
      font-size: 22px;
      line-height: 30px;
    }
    &__slider-item {
      grid-template: auto 1fr / 1fr;
    }
    &__slider-content {
      grid-template: 1fr / 1fr;
      padding-bottom: 0px;
    }
    &-slider__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &__slider-text {
      display: none;
    }
    &__slider-text--visible {
      display: block;
    }
    &__slider-bottom {
      display: block;
      margin-top: -10px;
    }
    &__slider-bottom--oneitem {
      display: flex;
      margin-top: 0px;
    }
    &__slider-prices {
      display: flex;
      align-items: center;
    }
    &__slider-prices--block {
      display: block;
    }
    &__slider-btn {
      margin-top: 15px;
      margin-bottom: 0px;
      margin-right: 0px;
      background-color: $orange-color;
      color: #ffffff;
      border-radius: 0px;
      font-weight: 700;
      text-align: center;
      font-size: 18px;
      display: block;
    }
    &__slider-btn--flex {
      padding: 15px 37px !important;
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
      margin-right: 15px;
    }
    &__slider-dollars {
      padding-bottom: 0px;
      font-size: 12px;
      padding-right: 15px;
    }
    &__slider-rubles {
      font-size: 18px;
    }
    &__slider-title {
      font-size: 14px;
      padding-top: 15px;
    }
    &__slider-free {
      margin-bottom: 0px;
    }
  }
  .about {
    &__title {
      font-size: 22px;
      line-height: 30px;
    }
    &__text {
      font-size: 14px;
    }
    &__btn {
      font-size: 14px;
    }
  }
  .login {
    &__title {
      padding-left: 0px;
      padding-right: 58px;
      position: relative;
      font-size: 22px;
      line-height: 30px;
      &::before {
        background-image: url("../img/logo-small.svg");
        left: auto;
        right: 0;
        bottom: 13px;
      }
    }
  }
  .articles {
    .materials {
      &-slider__wrapper {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
      }
    }
  }
}

@media (max-width: 567px) {
  .header {
    &__logo {
      width: 160px;
    }
  }

  .footer {
    &__socials {
      justify-content: left;
    }
  }

  .top {
    padding-left: 30px;
    &__img {
      display: none;
      width: 100%;
    }

    &__img-890px {
      display: block;
    }

    &__title {
      font-size: 24px;
      line-height: 36px;
    }
    &__list-item {
      padding-left: 34px;
      &::before {
        background-image: url("../img/leaf-small.png");
        width: 23px;
        height: 24px;
      }
    }
  }

  .materials {
    &__slider-title {
      padding-right: 10px;
      padding-left: 10px;
    }
    &__slider-rubles {
      padding-left: 10px;
    }
    &__slider-dollars {
      padding-right: 10px;
    }
  }

  .about {
    &__img {
      width: 400px;
    }
  }

  .about-page {
    &__top-img {
      width: 100%;
    }
  }

  .membership {
    &__img {
      width: 100%;
    }
  }

  .login-to-pa {
    &__input {
      width: 340px;
    }
    &__btn {
      width: 340px;
    }
    .login__label {
      width: 340px;
    }
    .login__form-inputbox {
      width: 340px;
    }
  }
  .create-account {
    &__btn {
      width: 340px;
    }
  }
  .login__form--answer {
    margin-right: 0px;
  }
  .login__form-expression {
    left: 0px;
  }
}

@media (max-width: 518px) {
  .login {
    label {
      font-size: 10px;
      line-height: 15px;
    }
  }
  .articlepage {
    &__date {
      padding-right: 20px;
      font-size: 12px;
    }
    &__bookmarks {
      padding-right: 20px;
      font-size: 12px;
    }
    .star-rating__ratingnumber {
      margin-left: 0px;
      font-size: 12px;
    }
    .star-rating {
      padding: 0px;
    }
  }
}

@media (max-width: 450px) {
  .top {
    &__btn-details {
      padding: 15px 34px;
      font-size: 14px;
      line-height: 20px;
    }
    &__btn-ask {
      padding: 15px 34px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .news {
    &__bgtext {
      font-size: 14px;
      padding: 0px 60px 0px 16px;
    }
    &__list-link {
      font-size: 14px;
    }
    &__title {
      font-size: 20px;
      line-height: 20px;
      width: 100%;
      &::after {
        bottom: -3px;
      }
    }
    .questions {
      &__img {
        width: 300px;
      }
      &__text {
        font-size: 14px;
      }
      &__btn {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      &__title {
        font-size: 20px;
      }
      &__btn {
        padding-right: 60px;
        padding-left: 53px;
        &::after {
          right: 45px;
          bottom: 15px;
        }
      }
    }
  }
  .about {
    &__btn {
      &::after {
        right: 50px;
        bottom: 19px;
      }
    }
    &__img {
      width: 340px;
    }
  }
  .login--membership {
    .login__form-btn {
      padding: 15px 6px;
      margin-right: 5px;
    }
  }
  .articlepage {
    &__buy {
      padding: 30px 20px;
    }
    &__buy-rubles {
      font-size: 18px;
    }
    &__buy-img {
      width: 114px;
    }
    &__recommendations {
      padding: 30px 15px;
    }
    &__recommendations-img {
      display: none;
    }
    &__recommendations-img--450px {
      display: block;
    }
    &__recommendations-item:first-child {
      padding-right: 0px;
    }
    &__buy--767px {
      .articlepage__buy-btn:first-child {
        margin-bottom: 10px;
      }
      .articlepage__buy-bottom {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
      }
    }
    &__comments-title {
      font-size: 18px;
      line-height: 28px;
    }
    &__comments-btn {
      font-size: 14px;
      line-height: 20px;
      padding: 15px 42px;
    }
    &__form-btn {
      padding: 15px 42px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .questions {
    &__btn--aside {
      padding-left: 30px;
    }
  }
  .aside {
    &__list-text {
      padding-right: 20px;
    }
    &__list-item {
    }
    &__list-title {
      font-size: 18px;
      line-height: 24px;
      position: relative;
      &::after {
        content: "";
        background-image: url("../img/Arrow_right.png");
        position: absolute;
        right: 15px;
        bottom: 0;
        width: 24px;
        height: 24px;
      }
    }
  }
  .questions--aside {
    height: auto;
    .questions__btn {
      padding: 20px 103px 20px 20px;
    }
    .questions__btn::after {
      left: 87%;
    }
  }
  .membership {
    &__title {
      font-size: 22px;
    }
  }
  .login-to-pa {
    &__title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &__btn {
      font-size: 14px;
      line-height: 20px;
      padding: 15px 0;
    }
    &__forgetpass {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .create-account {
    &__title {
      font-size: 22px;
      line-height: 30px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
    }
    &__btn {
      font-size: 14px;
      line-height: 20px;
      padding: 15px 0;
    }
  }
  .login__label--createacc {
    font-size: 10px;
    line-height: 15px;
  }
}

@media (max-width: 412px) {
  .login {
    &__title {
      &::before {
        bottom: 30px;
      }
    }
  }
  .aside {
    &__video-title {
      font-size: 18px;
    }
  }
}

@media (max-width: 387px) {
  .articlepage {
    &__date {
      margin-right: 0px;
    }
    &__bookmarks {
      padding-right: 10px;
    }
    &__subtitle {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .star-rating {
      align-items: center;
    }
  }
  .questions {
    &__btn--aside {
      padding-left: 10px;
    }
    &--boxshadow::after {
      right: 50px;
    }
  }
}

@media (max-width: 375px) {
  .about {
    &__btn {
      padding: 15px 50px 15px 29px;
      &::after {
        right: 15px;
        bottom: 15px;
      }
    }
  }
  .login-to-pa {
    &__input {
      width: 250px;
    }
    &__btn {
      width: 250px;
    }
    .login__form-inputbox {
      width: 250px;
    }
    .login__form-expression {
      left: 0px;
    }
    .login__label {
      width: 250px;
    }
  }
  .create-account {
    &__btn {
      width: 250px;
    }
  }
}

@media (max-width: 373px) {
  .top {
    &__btn-details,
    &__btn-ask {
      padding: 10px 17px;
    }
  }
  .materials {
    &__slider-btn {
      padding: 5px 0px;
      font-size: 14px;
    }
    &__slider-dollars {
      padding-right: 0px;
    }
    &__slider-title {
      padding-right: 5px;
      padding-left: 5px;
    }
    &__slider-rubles {
      padding-left: 5px;
    }
  }
  .about {
    &__img {
      width: 285px;
    }
  }
}

@media (max-width: 365px) {
  .login--membership {
    .login__form-btn {
      display: block;
      width: 100%;
    }
    .login__form-btn:nth-child(2) {
      margin-top: 10px;
    }
  }
  .aside {
    &__video-img {
      display: none;
    }
  }
}

@media (max-width: 357px) {
  .header {
    &__logo {
      display: none;
    }

    &-icon__search {
      margin-right: -50px;
    }
  }
  .news {
    &__bgtext {
      padding: 0px 5px 0px 7px;
    }
    .questions {
      &__img {
        width: 250px;
      }
      &__btn {
        padding-left: 20px;
      }
      &__btn {
        &::after {
          right: 35px;
          bottom: 15px;
        }
      }
    }
  }
  .login {
    &__form-checkbox + label::before {
      margin-right: 7px;
    }
  }
  .articlepage {
    &__recommendations-img--450px {
      width: 100px;
    }
    &__comments-title {
      font-size: 16px;
    }
    &__comments-btn {
      font-size: 12px;
      padding: 15px 38px;
    }
  }
  .questions {
    &--boxshadow::after {
      right: 30px;
    }
  }
}
