%grey-text {
    color: #afb2c4;
    line-height: 24px;
}

%orange-arrow {
    padding-right: 40px;
    position: relative;

    &::after {
        content: "";
        background-image: url("../img/Arrow_right.png");
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 24px;
        height: 24px;
    }
}

%white-arrow {
    position: relative;

    &::after {
        content: "";
        background-image: url("../img/white-arrow.svg");
        position: absolute;
        width: 24px;
        height: 24px;
    }
}

$orange-color: #e55241;

$default: #1e222e;