@import "reset";
@import "global";
@import "vars";
@import "libs";
@import "fonts";

.header {
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 3;
	position: relative;

	&__top {
		background-color: #fcfcfc;
	}

	&__bottom {
		background-color: #fff;
		z-index: 10;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0;
	}

	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}

	&__list-item {
		padding-right: 30px;
	}

	&__list-link {
		text-decoration: none;
		color: $default;
	}

	&__menu {
		display: flex;
	}

	/* --------------------------------------------------- */
	&__menu--unfold {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 121px;
		z-index: 2;
		position: absolute;
		background-color: #fff;
		left: 0;
		top: 34px;
		transition: all 0.3s;
	}

	&__menu--disabled {
		opacity: 0;
		pointer-events: none;
	}

	&__menu--unfold-item {
		padding: 5px 42px 5px 10px;
		border-bottom: 1px solid #f4f4f4;
		color: #3a3e48;

		&:hover {
			background-color: #fceeec;
			border-bottom: none;
			color: $orange-color;
		}
	}

	&__menu--unfold-link {
		color: inherit;
	}

	/* --------------------------------------------------- */

	&__menu-item {
		margin-right: 30px;
		position: relative;
		padding: 0 21px 0 28px;
		cursor: pointer;
	}

	&__menu-item--767px {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 0px;
		padding: 13px 0px 13px 28px;
		display: none;
		cursor: auto;
	}

	&__menu-item:last-child {
		margin-right: 0px;
	}

	&__weather {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 10%;
			width: 20px;
			height: 20px;
			background: url("@img/weather-icon.svg") 0 0 no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			background: url("@img/unfold-icon.svg") 0 0 no-repeat;
			right: 0;
			top: 40%;
			width: 10px;
			height: 10px;
		}
	}

	&__language {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 10%;
			width: 20px;
			height: 20px;
			background: url("@img/language-icon.svg") 0 0 no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			background: url("@img/unfold-icon.svg") 0 0 no-repeat;
			right: 0;
			top: 40%;
			width: 10px;
			height: 10px;
		}
	}

	&__account {
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 10%;
			width: 20px;
			height: 20px;
			background: url("@img/loggin-icon.svg") 0 0 no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			background: url("@img/unfold-icon.svg") 0 0 no-repeat;
			right: 0;
			top: 40%;
			width: 10px;
			height: 10px;
		}
	}

	&__account-item {
		border-bottom: 1px solid #dbdfec;
	}

	&__account-link {
		padding: 10px 18px;
		display: block;
		color: $default;
		font-size: 16px;
		line-height: 24px;
	}

	&__account--767px {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		width: auto;

		&::before {
			background: url("@img/account-icon-orange.svg") 0 0 no-repeat;
			top: 38%;
			width: 24px;
			height: 24px;
		}

		&::after {
			display: none;
		}
	}

	&__menu-close {
		width: 44px;
		height: 44px;
		border-radius: 4px;
		background: #fceeec;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background: url("@img/cross.svg") 50% 50% no-repeat;
			width: 100%;
			height: 100%;
			z-index: inherit;
		}
	}

	&__account--focused,
	&__language--focused,
	&__weather--focused {
		color: $orange-color;

		&::after {
			background: url("@img/orange-arrow-up.svg") 0 0 no-repeat;
		}
	}

	&__account--focused {
		&::before {
			background: url("@img/account-icon-orange.svg") 0 0 no-repeat;
		}
	}

	&__language--focused {
		&::before {
			background: url("@img/language-icon-orange.svg") 0 0 no-repeat;
		}
	}

	&__weather--focused {
		&::before {
			background: url("@img/weather-icon-orange.svg") 0 0 no-repeat;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__inner--disabled {
		display: none;
	}

	&__inner--block {
		display: block;
	}

	&__burger {
		width: 40px;
		height: 40px;
		background-color: $orange-color;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		display: none;

		&::before {
			content: "";
			position: absolute;
			height: 2px;
			width: 24px;
			background-color: #fff;
			bottom: 28px;
			right: 8px;
			border-radius: 4px;
			transition: all 0.3s ease 0s;
		}

		&::after {
			content: "";
			position: absolute;
			height: 2px;
			width: 24px;
			background-color: #fff;
			top: 28px;
			right: 8px;
			border-radius: 4px;
			transition: all 0.3s ease 0s;
		}

		span {
			position: absolute;
			height: 2px;
			width: 24px;
			background-color: #fff;
			top: 19px;
			right: 8px;
			border-radius: 4px;
			transition: all 0.3s ease 0s;
		}
	}

	&__burger--cross {
		&::before {
			transform: rotate(45deg);
			bottom: 18px;
		}

		&::after {
			transform: rotate(-45deg);
			top: 20px;
		}

		span {
			transform: scale(0);
		}
	}

	&__burger-item {
		border-bottom: 1px solid #dbdfec;
	}

	&__burger-link {
		color: $default;
		margin: 10px 18px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		display: block;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background: url("@img/unfold-icon.svg") 0 0 no-repeat;
			right: 0;
			top: 10px;
			width: 16px;
			height: 16px;
		}
	}

	&__burger--unfold {}

	&__burger-list {}

	&__burger-item {}

	&__burger-link {}

	&__burger-dropdowns {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&__burger-dropdown {
		border: 1px solid #dbdfec;
		border-radius: 5px;
		margin-right: 18px;
		margin-left: 18px;
		padding: 12px 43px;
		position: relative;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			background: url("@img/unfold-icon.svg") 0 0 no-repeat;
			right: 14px;
			bottom: 10px;
			width: 16px;
			height: 16px;
		}
	}

	&__burger-dropdown__list {
		margin-left: 18px;
		margin-right: 18px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__burger-dropdown__list--disabled {
		display: none;
	}

	&__burger-dropdown__list-item {
		border-bottom: 1px solid #f4f4f4;
		font-size: 16px;
		line-height: 24px;
		padding: 5px 10px;

		&:hover {
			background-color: #fceeec;
			color: $orange-color;
		}
	}

	&__burger-dropdown--language {
		&::before {
			content: "";
			position: absolute;
			background: url("@img/language-icon.svg") 0 0 no-repeat;
			left: 15px;
			bottom: 15px;
			width: 20px;
			height: 20px;
		}
	}

	&__burger-dropdown--weather {
		margin-top: 10px;

		&::before {
			content: "";
			position: absolute;
			background: url("@img/weather-icon.svg") 0 0 no-repeat;
			left: 15px;
			bottom: 15px;
			width: 20px;
			height: 20px;
		}
	}

	&__burger-btn {
		margin-left: 18px;
		padding: 15px 30px;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
	}

	&__logo {
		width: 278px;
		z-index: 1000;
	}

	&__link--disabled {
		display: none;
	}

	&__nav {
		margin-left: 40px;
	}

	&__nav--disabled {
		display: none;
	}

	&__nav-list {
		display: flex;
		list-style: none;
	}

	&__nav-item {
		padding-right: 30px;
		font-size: 18px;
		white-space: nowrap;
	}

	&__nav-link {
		color: $default;
		font-weight: 700;
	}

	&-icon {
		background-color: rgba(229, 82, 65, 0.1);
		padding: 12px;
		border-radius: 4px;
		margin-right: 15px;
		display: block;
		cursor: pointer;
	}

	&-icon--disabled {}

	&-icon__account {
		display: none;
	}

	&__search--disabled {
		display: none;
	}

	&__form {
		position: relative;
	}

	&__form--disabled {
		display: none;
	}

	&__form-input {
		padding: 13px 100px 13px 15px;
		border: 1px solid #dbdfec;
		border-radius: 4px;
		width: 680px;
		transition: all 0.6s;

		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #a6a6a6;
		}
	}

	&__form-icons {
		position: absolute;
		right: 0;
		top: 0;
	}

	&__search--form {
		right: 0px;
		background-color: $orange-color;
		width: 44px;
		height: 44px;
		display: inline-block;
		margin-right: -5px;
	}

	&__form-close {
		width: 44px;
		height: 44px;
		background: rgba(229, 82, 65, 0.1);
		display: inline-block;
		position: relative;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		margin-bottom: -14px;
		cursor: pointer;

		&::before {
			content: "";
			background: url("@img/cross.svg") 50% 50% no-repeat;
			position: absolute;
			height: 100%;
			width: 100%;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	&__btn {
		color: $orange-color;
		font-weight: 700;
		background-color: transparent;
		font-size: 18px;
		padding: 10px 16px;
		border: 1px solid $orange-color;
		border-radius: 4px;
		cursor: pointer;
	}
}

.footer {
	&__top {
		background-color: #272727;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 60px 0 60px;
	}

	&__logo {
		margin-right: 136px;
	}

	&__logo-img {
		display: inline-block;
	}

	&__list {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 14px;
	}

	&__list:nth-child(2) {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			height: 1px;
			width: 81px;
			background-color: #d9d9d9;
			bottom: 0;
			left: 0;
		}

		&::before {
			content: "";
			position: absolute;
			background: url("@img/footer-map.png") 0% 23% no-repeat;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__list-item {
		padding-right: 81px;
		margin-right: 70px;
		padding-bottom: 5px;
		border-bottom: 1px solid #2f2f2f;
		margin-bottom: 10px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background: url("@img/arrow-right.svg") 0 0 no-repeat;
			right: 0;
			top: 30%;
			width: 10px;
			height: 10px;
			cursor: pointer;
		}
	}

	&__list-item:last-child {
		margin-bottom: 0;
	}

	&__list-link {
		text-decoration: none;
		color: #ffffff;
	}

	&__nav {}

	&__socials {
		display: flex;
		justify-content: right;
		flex-direction: column;
	}

	&__socials-list {
		display: flex;
		justify-content: right;
		padding-bottom: 20px;
	}

	&__socials-item {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #373737;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 5px;
		margin-right: 15px;
	}

	&__socials-item:last-child {
		margin-right: 0;
	}

	&__socials-youtube {
		text-align: right;
		padding-bottom: 60px;
	}

	&__socials-email {
		text-align: right;
		font-weight: 700;
		font-size: 18px;
		text-decoration: none;
		color: #ffffff;
	}

	&__bottom {
		background: #202020;
	}

	&__bottom-inner {
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__policy {
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
	}
}

.top {
	padding-left: 360px;
	background-color: #f4f4f4;
	background-image: url("@img/top-bg.jpg");

	&__content {
		display: flex;
		align-items: end;
	}

	&__info {
		padding-top: 140px;
		padding-bottom: 150px;
	}

	&__img {
		display: none;
	}

	&__img-890px {
		display: none;
	}

	&__title {
		font-size: 48px;
		line-height: 64px;
		font-weight: 700;
		margin-bottom: 35px;
		max-width: 693px;
	}

	&__list-item {
		margin-bottom: 18px;
		font-size: 24px;
		line-height: 36px;
		padding-left: 48px;
		position: relative;

		&::before {
			content: "";
			background-image: url("@img/лист клевера.png");
			position: absolute;
			left: 0;
			width: 31px;
			height: 36px;
		}
	}

	&__btn-details {
		padding: 20px 50px;
		margin-right: 10px;
		display: inline-block;
		margin-top: 22px;
	}

	&__btn-ask {
		padding: 20px 50px;
		display: inline-block;
	}
}

.news {
	padding-top: 30px;
	padding-bottom: 70px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	&__img {
		width: 100%;
	}

	&__title {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 30px;
		margin-top: 40px;
		padding-right: 40px;
		display: inline-block;
		color: $default;
		font-weight: 700;
		@extend %orange-arrow;

		&::after {
			bottom: 5px;
		}
	}

	&__item-content {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}

	&__top {
		position: relative;
	}

	&__bgtext {
		position: absolute;
		bottom: 8px;
		left: 0;
		padding: 12px 80px 18px 16px;
		background-color: rgba(30, 34, 46, 0.4);
		color: #f6f6f6;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		width: 100%;
	}

	&__list {
		margin-top: -10px;
	}

	&__list-item {
		border-bottom: 1px solid #f3f3f3;
		padding: 10px 25px 10px 15px;
		color: #3a3e48;

		&:hover {
			color: $orange-color;
			background: #fff6f6;
		}
	}

	&__list-item:last-child {
		border-bottom: none;
	}

	&__list-link {
		font-size: 16px;
		line-height: 24px;
		color: inherit;
	}
}

.about {
	padding: 70px 0 70px 0;
	background-color: #f7f7f7;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		background: url("@img/dots.png") 100% 100% no-repeat;
		right: 0;
		bottom: 68px;
		width: 100%;
		height: 100%;
	}

	&__inner {
		display: flex;
	}

	&__img {
		margin-right: 28px;
	}

	&__content {}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		padding-bottom: 41px;
	}

	&__title--disabled {
		display: none;
	}

	&__text {
		padding-bottom: 16px;
		max-width: 500px;
	}

	&__text:last-child {}

	&__btn {
		display: inline-block;
		margin-top: 10px;
		padding: 20px 90px 20px 56px;
		@extend %orange-arrow;

		&::after {
			background-image: url("@img/white-arrow.svg");
			bottom: 19px;
			right: 55px;
		}
	}
}

.login {
	padding: 70px 0 70px 0;

	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 300px;
		justify-content: flex-start;
		align-items: flex-end;
	}

	&--1217px {
		display: none;
	}

	&--disabled {
		display: block;
	}

	&__membership {
		margin-right: 30px;
		background-color: #f4f4f4;
		border-radius: 10px;
		padding-top: 55px;
		padding-bottom: 55px;
		padding-left: 40px;
		padding-right: 40px;
		width: 593px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		padding-left: 58px;
		padding-bottom: 25px;
		position: relative;

		&::before {
			content: "";
			background: url("@img/logo.svg") 0 0 no-repeat;
			position: absolute;
			left: 0;
			width: 43px;
			height: 49px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 15px;
	}

	&__form-input {
		padding: 20px 15px;
		border: 1px solid #dbdfec;
		background-color: #fff;
		border-radius: 5px;
		width: 48%;
		margin-right: 15px;
		margin-bottom: 15px;

		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #a6a6a6;
		}
	}

	&__form-input:nth-child(even) {
		margin-right: 0px;
	}

	&__form-inputbox {
		position: relative;
		display: inline-block;
	}

	&__form-inputbox--createacc {
		width: 500px;
		margin: 0 auto;
	}

	&__form-expression {
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #dbdfec;
		padding: 17px 15px 17px 15px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	&__form--answer {
		position: relative;
		padding-left: 92px;
		margin-bottom: 0px;
		width: 99%;

		&::before {
			content: "";
			position: absolute;
			background-image: url("@img/лист клевера.png");
			top: 0;
			top: 0;
			width: 72px;
			height: 64px;
		}
	}

	label {
		margin-top: 28px;
		margin-bottom: 38px;
	}

	&__label {
		width: 500px;
		margin: 26px auto;
		text-align: left;
	}

	&__form-checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__form-checkbox+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	&__form-checkbox+label::before {
		content: "";
		display: inline-block;
		width: 24px;
		height: 24px;
		border: 2px solid #dbdfec;
		margin-right: 19px;
	}

	&__form-checkbox:checked+label::before {
		background: url("../img/checkbox-img.svg") 50% 50% no-repeat;
	}

	&__form-text {
		font-size: 14px;
		line-height: 20px;
		margin-left: 15px;
	}

	&__form-btn {
		padding: 20px 50px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin-right: 14px;
	}
}

.articles {
	padding: 40px 0 50px 0;

	&__inner {}

	&__head {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
	}

	&__counter {}

	&__headbottom {
		width: 100%;
		margin-top: 30px;
		padding: 20px;
		background-color: #f4f4f4;
		border-radius: 4px;
	}

	&__headbottom--orange {
		color: $orange-color;
		font-weight: 700;
	}

	.materials {
		padding: 40px 0px;

		&__slider-text {
			padding-bottom: 10px;
		}

		&__slider-item {
			display: grid !important;
			grid-template: auto 1fr / 1fr;
		}

		&__slider-content {
			display: grid !important;
			grid-template: auto 1fr / 1fr;
		}

		&-slider__wrapper {
			display: grid !important;
			grid-gap: 30px;
			grid-template: repeat(3, 1fr) / repeat(3, 1fr);
		}

		&__slider-text {
			color: $default;
		}
	}
}

.materials-slider--articles {
	position: relative;

	.slick-dots {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 40px auto auto auto;
		width: 50%;

		li {
			padding: 0 4px 0 4px;
		}

		button {
			width: 35px;
			height: 35px;
			background: #ffffff;
			border: 1px solid #dbdfec;
			border-radius: 10px;
			margin-bottom: 10px;
		}

		li.slick-active {
			button {
				background-color: $orange-color;
				color: white;
			}
		}
	}
}

.articlepage {
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 70px;
	}

	&__content {
		margin-right: 30px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
	}

	&__subtitle {
		display: flex;
		align-items: center;
		padding: 23px 0;
	}

	&__date {
		padding-right: 60px;
	}

	&__bookmarks {
		padding-left: 25px;
		padding-right: 30px;
		position: relative;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			background-image: url("@img/bookmarks.svg");
			width: 20px;
			height: 20px;
			left: 0;
			bottom: 2px;
		}
	}

	.star-rating__ratingnumber {
		margin-left: 16px;
	}

	&__text {
		margin-top: 17px;
		margin-bottom: 17px;
	}

	&__buy {
		background-color: #f4f4f4;
		padding: 50px 25px;
		display: flex;
		border-radius: 10px;
	}

	&__buy--767px {
		display: none;
	}

	&__buy-img {
		padding-top: 10px;
	}

	&__buy-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	&__buy-text {
		margin-bottom: 30px;
	}

	&__buy-btns {
		display: flex;
		align-items: center;
	}

	&__buy-prices {
		padding-right: 40px;
	}

	&__buy-rubles {
		font-weight: 700;
		font-size: 30px;
		line-height: 45px;
	}

	&__buy-cads {
		font-size: 16px;
		line-height: 22px;
		color: #afb2c4;
	}

	&__buy-btn {
		padding: 20px 63px;
		cursor: pointer;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin: 0 7px;
	}

	&__tags {
		margin-bottom: 64px;
	}

	&__source {
		display: block;
		margin-bottom: 20px;
		padding-top: 10px;
		color: $orange-color;
		font-size: 16px;
		line-height: 30px;
	}

	&__tag {
		font-size: 14px;
		line-height: 20px;
		padding: 5px 15px;
		color: $default;
		margin-bottom: 10px;
		border: 1px dashed #e55241;
		border-radius: 100px;
		background-color: #fff6f6;
		display: inline-block;
	}

	&__tag--active {
		background-color: $orange-color;
		color: #ffffff;
	}

	&__list {
		margin-bottom: 30px;
	}

	&__list-item {
		color: $default;
		padding-left: 20px;
		position: relative;
		margin-bottom: 10px;

		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: $orange-color;
			left: 0;
			bottom: 30%;
			border-radius: 50%;
		}
	}

	&__ad {
		margin-bottom: 40px;
		display: block;
	}

	&__recommendations {
		display: flex;
		background-color: #f7f7f7;
		border-radius: 10px;
		padding: 30px 60px 30px 16px;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__recommendations-item {
		display: flex;
	}

	&__recommendations-img {
		object-fit: cover;
	}

	&__recommendations-img--450px {
		display: none;
	}

	&__recommendations-text {
		padding-left: 15px;
		font-size: 14px;
		line-height: 20px;
		color: $default;
	}

	&__recommendations-item:first-child {
		padding-right: 30px;
	}

	&__list-link {
		color: inherit;
	}

	&__comments-top {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #dbdfec;
		align-items: center;
		padding-top: 50px;
		flex-wrap: wrap;
	}

	&__comments-title {
		font-weight: 700;
		font-size: 24px;
	}

	&__comments-btn {
		padding: 20px 50px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		cursor: pointer;
	}

	&__comments-btn:disabled,
	&__comments-btn[disabled] {
		background-color: #f4f4f4;
		color: #a6a6a6;
		cursor: auto;
	}

	&__form {
		width: 100%;
		margin-top: 18px;
	}

	&__form-input {
		padding: 20px;
		width: 100%;
		resize: none;
		height: 185px;
		border: 1px solid #dbdfec;
		border-radius: 10px;

		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__form-btn {
		padding: 20px 50px;
		margin-top: 20px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		cursor: pointer;
	}

	&__form--disabled {
		display: none;
	}

	&__comments-user {
		display: flex;
		margin-bottom: 16px;
		margin-top: 30px;
		align-items: center;
	}

	&__comments-info {
		margin-left: 15px;
	}

	&__comments-name {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
	}

	&__comments-date {
		margin-top: 5px;
	}

	&__comments-text {
		padding-right: 64px;
		font-size: 16px;
		line-height: 24px;
	}

	&__comments-commentsection {
		position: relative;
	}

	&__comments-heartimg {
		position: absolute;
		right: 15px;
		top: 0;
		cursor: pointer;
	}

	&__comments-likescount {
		position: absolute;
		right: 0;
		top: 0;
		color: $orange-color;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
	}

	&__comments-answer {
		font-weight: 600;
		font-size: 10px;
		line-height: 20px;
		color: $orange-color;
		margin-top: 15px;
		cursor: pointer;
		padding-bottom: 19px;
		border-bottom: 1px solid #dbdfec;
	}

	&__comments-comment--reply {
		padding-left: 19px;
		margin-left: 30px;
		border-left: 2px solid #dbdfec;
	}

	&__comments-answer--reply {
		border-bottom: none;
		padding-bottom: 0px;
	}

	&__comments-heartimg--reply {
		display: none;
	}

	&__comments-likescount--reply {
		display: none;
	}

	&__comments-text--reply {
		padding-right: 35px;
	}

	&__showmore-btn {
		margin: 0 auto;
		display: block;
		padding: 20px 50px;
		margin-top: 30px;
		cursor: pointer;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
	}

	&__sidebar {}
}

.aside {
	max-width: 380px;

	&__list {
		box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
			5px 5px 10px rgba(190, 190, 190, 0.25);
		padding: 20px 0px;
		border-radius: 10px;
		margin-top: 40px;
	}

	&__list-title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		padding-left: 17px;
	}

	&__list-item {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #f3f3f3;
	}

	&__list-item--hover {
		&:hover {
			@extend %orange-arrow;
			padding-right: 0;

			&::after {
				right: 30px;
				bottom: 40%;
			}
		}
	}

	&__list-item:last-child {
		border-bottom: none;
	}

	&__list-link {
		display: flex;
		align-items: center;
	}

	&__list-img {
		padding-left: 17px;
	}

	&__list-text {
		font-size: 16px;
		line-height: 24px;
		color: $default;
		margin-left: 10px;
		padding-right: 40px;
	}

	&__video {
		padding: 20px 17px;
		box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
			5px 5px 10px rgba(190, 190, 190, 0.25);
		border-radius: 10px;
		margin-top: 40px;
	}

	&__video-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	&__video-title {
		font-weight: 700;
		font-size: 24px;
	}

	&__video-img {}

	&__video-text {
		margin-top: 10px;
	}

	&__news {
		margin-top: 40px;
		border-radius: 10px;
		box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
			5px 5px 10px rgba(190, 190, 190, 0.25);
	}

	&__news-title {
		margin-left: 15px;
		margin-top: 20px;
		margin-bottom: 15px;

		&::after {
			display: none;
		}
	}

	&__news-img {
		padding: 0 15px;
	}

	&__news-bgtext {
		margin: 0 15px;
		padding-top: 20px;
		padding-bottom: 15px;
		width: auto;
	}
}

.services-top {
	&__title {
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
	}

	&__text {
		margin-bottom: 50px;
		font-size: 20px;
		line-height: 30px;
	}
}

.about-page {
	&__wrapper {
		display: flex;
		margin-top: 40px;
	}

	&__inner {
		max-width: 763px;
		justify-content: space-between;
	}

	&__top {}

	&__top-title {
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
	}

	&__top-text {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	&__top-img {
		margin-bottom: 37px;
	}

	&__content {}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		padding-left: 43px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: 28px;
			width: 28px;
			left: 0;
		}
	}

	&__title--story {
		&::before {
			background-image: url("@img/title-icon-1.svg");
			bottom: 10px;
		}
	}

	&__paragraphs {
		margin-top: 9px;
		margin-bottom: 55px;
	}

	&__text {
		margin-top: 15px;
	}

	&__title--specs {
		&::before {
			background-image: url("@img/title-icon-2.svg");
			bottom: 5px;
		}
	}

	&__quote {
		padding: 33px 169px 33px 59px;
		margin-top: 30px;
		margin-bottom: 21px;
		background-color: #f7f7f7;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 100%;
			background-color: #468e87;
			left: 0;
			top: 0;
		}

		&::after {
			content: "";
			position: absolute;
			background-image: url("@img/quote.svg");
			width: 24px;
			height: 24px;
			left: 20px;
			top: 20px;
		}
	}

	&__title--goal {
		&::before {
			background-image: url("@img/title-icon-3.svg");
			bottom: 5px;
		}
	}

	&__title--structure {
		&::before {
			background-image: url("@img/title-icon-4.svg");
			bottom: 6px;
		}
	}

	&__text-link {
		color: $orange-color;
	}

	&__title--contacts {
		&::before {
			background-image: url("@img/title-icon-5.svg");
			bottom: 4px;
		}
	}

	&__title--values {
		&::before {
			background-image: url("@img/title-icon-6.svg");
		}
	}

	&__list {}

	&__list-item {
		margin-bottom: 12px;
		padding-left: 32px;
		font-size: 16px;
		line-height: 24px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background: url("@img/большой-лист.svg") 0 0 no-repeat;
			left: 0;
			top: 0;
			width: 24px;
			height: 24px;
		}
	}

	&__list-item:last-child {
		margin-bottom: 0px;
	}

	&__title--safety {
		&::before {
			background-image: url("@img/title-icon-7.svg");
			bottom: 4px;
		}
	}
}

.questions--aside {
	padding: 33px 15px;
	margin-left: 20px;
	height: 277px;
	box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
		5px 5px 10px rgba(190, 190, 190, 0.25);
	border-radius: 10px;

	.questions {
		&__btn {
			padding: 20px 103px 20px 69px;
			@extend %orange-arrow;

			&::after {
				background-image: url("@img/white-arrow.svg");
				bottom: 33%;
				left: 75%;
			}
		}
	}
}

.contacts {
	&__inner {
		display: flex;
		margin-top: 40px;
	}

	&__content {
		max-width: 763px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 30px;
	}

	&__undertitletext {
		margin-bottom: 30px;
	}

	&__img {}

	&__paragraph {
		margin: 40px 0 20px 0;
	}

	&__text {
		margin-top: 15px;
		font-size: 16px;
		line-height: 24px;
	}

	&__text--email {
		display: inline-block;
	}

	&__email {
		display: inline-block;
		padding-left: 34px;
		margin-left: 15px;
		color: $orange-color;
		font-weight: 600;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background-image: url("@img/email-icon.svg");
			width: 24px;
			height: 24px;
			left: 0;
		}
	}

	&__list {}

	&__list-item {
		margin-top: 10px;
		padding-left: 20px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: $orange-color;
			left: 0;
			bottom: 7px;
			border-radius: 50%;
		}
	}
}

.membership {
	padding-bottom: 70px;

	&__title {
		padding-top: 40px;
		padding-bottom: 30px;
	}

	&__content {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		margin-right: 30px;
	}
}

.login--membership {
	padding: 0px;

	.login__inner {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background-color: #f4f4f4;
		padding: 44px 30px 40px 30px;
		border-radius: 10px;
	}

	.login__form-inputs {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		grid-column-gap: 15px;
	}

	.login__form-input {
		width: 100%;
	}

	.login__form-expression {
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #dbdfec;
		padding: 17px 15px 17px 15px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.login__form-btn {
		padding: 20px 50px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin-right: 10px;
	}
}

.login-to-pa {
	&__wrapper {
		position: relative;

		&::before {
			content: "";
			background: url("@img/more-dots.png") 0 50% no-repeat;
			position: absolute;
			left: 0;
			width: 150px;
			height: 100%;
		}
	}

	&__wrapper--createacc {
		position: relative;

		&::after {
			content: "";
			background: url("@img/more-dots.png") 0 0 no-repeat;
			position: absolute;
			right: 0;
			top: 70%;
			width: 150px;
			height: 100%;
		}
	}

	&__content {
		text-align: center;
		padding-bottom: 50px;
		border-bottom: 1px solid #dbdfec;
	}

	&__content--passrecovery {
		padding-bottom: 0px;
		margin-bottom: 184px;
		border-bottom: none;
	}

	&__breadcrumbs {
		margin-top: 30px;
		display: inline-block;
		padding-left: 24px;
		color: #afb2c4;
		position: relative;

		&::before {
			content: "";
			background: url("@img/grey-arrow-left.svg") 0 0 no-repeat;
			position: absolute;
			left: 0;
			top: 3px;
			width: 24px;
			height: 24px;
		}
	}

	&__title {
		margin-top: 16px;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__input {
		padding: 20px 15px;
		width: 500px;
		border: 1px solid #dbdfec;
		border-radius: 5px;
		margin: 0 auto;
		margin-bottom: 19px;

		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #a6a6a6;
		}
	}

	&__btn {
		width: 500px;
		margin: 0 auto;
		padding: 20px 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin-top: 11px;
		margin-bottom: 30px;
		cursor: pointer;
	}

	&__forgetpass {
		color: $orange-color;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-decoration: underline;
	}
}

.create-account {
	&__wrapper {
		position: relative;

		&::after {
			content: "";
			background: url("@img/more-dots.png") 100% 0 no-repeat;
			position: absolute;
			right: 0;
			top: 0;
			width: 150px;
			height: 100%;
		}
	}

	&__wrapper--createacc {
		&::after {
			display: none;
		}
	}

	&__content {
		text-align: center;
		margin-bottom: 50px;
		padding-top: 50px;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 20px;
	}

	&__text {
		margin: 0 auto;
		padding-bottom: 35px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		max-width: 608px;
	}

	&__btn {
		width: 500px;
		margin: 0 auto;
		padding: 20px 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin-top: 11px;
		margin-bottom: 30px;
		cursor: pointer;
	}
}

@import "media";